{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% include 'tldr.html' %}
<h1>Dinner Plans</h1>
<p>Our plan is to construct a buffet cooked by our wedding guests. We've decided to go with something similar to a bring and share. 
We've made a 'menu' of dishes, and need volunteers to cook them! Even those without culinary prowess can help, but don't worry if you don't want to! There will be <b>plenty</b> to go around, your presence is way more important than your bringing food.</p>
<p>
Simply let us know that you want to to lend a hand by ticking the box on your RSVP web form, or emailing... and we'll get in touch.</p>

Menu, need to sort this out with your mum!
{% endblock %}
