{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Quod cum dixissent, ille contra. Duo Reges: constructio interrete. Res enim se praeclare habebat, et quidem in utraque parte. Nihil sane. <a href='http://loripsum.net/' target='_blank'>Frater et T.</a> </p>

<blockquote cite='http://loripsum.net'>
	Nihil est enim, de quo minus dubitari possit, quam et honesta expetenda per se et eodem modo turpia per se esse fugienda.
</blockquote>


<p>Hoc est non modo cor non habere, sed ne palatum quidem. Nec tamen ille erat sapiens quis enim hoc aut quando aut ubi aut unde? Tamen a proposito, inquam, aberramus. Ut in geometria, prima si dederis, danda sunt omnia. Nec enim, omnes avaritias si aeque avaritias esse dixerimus, sequetur ut etiam aequas esse dicamus. Ergo id est convenienter naturae vivere, a natura discedere. Hunc vos beatum; Neminem videbis ita laudatum, ut artifex callidus comparandarum voluptatum diceretur. Itaque hic ipse iam pridem est reiectus; Sed ad rem redeamus; </p>

<ul>
	<li>Deque his rebus satis multa in nostris de re publica libris sunt dicta a Laelio.</li>
	<li>Eaedem enim utilitates poterunt eas labefactare atque pervertere.</li>
	<li>Hic, qui utrumque probat, ambobus debuit uti, sicut facit re, neque tamen dividit verbis.</li>
	<li>Sed ad bona praeterita redeamus.</li>
</ul>


<p>Sed mehercule pergrata mihi oratio tua. Sed nimis multa. Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut reliquas obruat? Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Quorum sine causa fieri nihil putandum est. Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Si est nihil nisi corpus, summa erunt illa: valitudo, vacuitas doloris, pulchritudo, cetera. Sed ne, dum huic obsequor, vobis molestus sim. </p>

<p>Quod ea non occurrentia fingunt, vincunt Aristonem; Hic quoque suus est de summoque bono dissentiens dici vere Peripateticus non potest. <a href='http://loripsum.net/' target='_blank'>Comprehensum, quod cognitum non habet?</a> Quid ei reliquisti, nisi te, quoquo modo loqueretur, intellegere, quid diceret? Quis non odit sordidos, vanos, leves, futtiles? Conferam tecum, quam cuique verso rem subicias; Quis non odit sordidos, vanos, leves, futtiles? </p>

<p>Ego vero volo in virtute vim esse quam maximam; Hanc quoque iucunditatem, si vis, transfer in animum; Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Cur post Tarentum ad Archytam? Ille enim occurrentia nescio quae comminiscebatur; At cum de plurimis eadem dicit, tum certe de maximis. Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum. </p>

<ol>
	<li>Hic ambiguo ludimur.</li>
	<li>Vitae autem degendae ratio maxime quidem illis placuit quieta.</li>
	<li>Non est enim vitium in oratione solum, sed etiam in moribus.</li>
	<li>Uterque enim summo bono fruitur, id est voluptate.</li>
</ol>



{% endblock %}
